body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: black;
    box-sizing: border-box;
  }

#loading-div {
  width: 80px; 
  height:100px; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  margin: -25px 0 0 -25px;
}

#streaming-payments-container {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-size: 1.15rem;
  top: 0; 
  right: 0;
  margin-top: .5em;
  margin-right: .5em;
  width: 5em;
  height: 5em;
}

#streaming-gif {
  width: 80%;
  height: 80%;
}

#streaming-txt {
  margin: 0;
  font-style: italic;
  text-shadow: 2px 1px #000;
}

.ui-container .bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 5em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ui-btn {
  padding: 1em;
  border-radius: 50%;
  border: 2px solid;
  background: transparent;
  border-color: rgba(63, 89, 208, 0.7);
}
.ui-btn img {
  width: 2em;
  height: 2em;
}
.ui-btn:hover {
  cursor: pointer;
}
.util-btn-group {
  color: black;
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.info-btn-group {
  flex: 1;
}

.support-btn-group {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-inline: 1em;
}


.box {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  margin-inline: 1em;
  background-color: white;
  border-radius: 1em;

}

.settings-box {
  top: 0;
  right: 0;
  margin-top: 1em;
  height: 30em;
  width: 35em;
}

.chat-box {
  bottom: 5em;
  right: 0;
  margin-bottom: 1em;
  height: 30em;
  max-height: 25em;
  width: 25em;
}
.chat-box .input-group {
  padding: .5em 1em;
  display: flex;
  justify-content: space-around;
}

.chat-box .chat-input {
  flex: 4;
  border: 1px solid rgba(63, 89, 208, 0.5);
  padding: .15em .3em;
  resize: none;
}

.chat-box .send-chat {
  flex: 1;
  margin-inline: 1em;
  background-color: rgba(63, 89, 208, 0.7);
  color: white;
  border: none;
  border-radius: .25em;
  padding: .5em 1em;
}

.chat {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 1em;
}

p {
  margin-top: .4em;
  margin-bottom: 0;
}

button:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}